<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>{{ sajat_nev }}</h1>
        {% if ansible_hostname == 'Szécsi Dávid' %}
            {{ custom_message }}
        {% else %}
         {{ default_index }}
        {% endif %}
</body>
</html>

